.wrapper {
	min-height: 100dvh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: grid;
	place-content: center;
}
.container {
	max-width: 768px;
	margin: auto;
	padding: 0 1.25em;

	display: flex;
	flex-direction: column;
	gap: 1.5em;
}
.title {
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	text-shadow: 0 0 10px #3526266b;
	margin: 0;
	color: antiquewhite;
	background: linear-gradient(
		90deg,
		red,
		orange,
		yellow,
		green,
		blue,
		indigo,
		violet
	);
	background-size: 300%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: colorAnimation 3s ease-in-out infinite alternate;
}
@keyframes colorAnimation {
	0% {
		background-position: 0% 50%;
	}

	10% {
		background-position: 100% 50%;
	}
}
@keyframes colors {
	20% {
		color: aqua;
	}
	40% {
		color: aquamarine;
	}
	60% {
		color: #88ac8f;
	}
}
@media (min-width: 768px) {
	.title {
		font-size: 50px;
	}
}
.card {
	background-image: url('/rectangle1.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 600px;
	height: 245px;
	margin: 0;

	display: grid;
	place-content: center;
}
@media (min-width: 768px) {
	.card {
		background-size: contain;
	}
}
.card__body {
	padding: 0 1.25;
}
.card__text {
	color: #34405a;
	padding: 0 1.5em;
	margin: 0;
	font-weight: 700;
	text-align: center;
}
.card__quote {
	font-size: 20px;
	color: #b3c8c1;
	animation: colors 3s linear infinite alternate;
}
.btn {
	width: fit-content;
	margin: 0 auto;
	padding: 0.75em 2em;
	background-color: #81a7c940;
	border: 2px solid #fff;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	filter: drop-shadow(0 0 2em #61dafbaa);
	animation: colorsBtn 3s linear infinite alternate;
	&:hover {
		border: 2px solid #626262;
		box-shadow: 0 0 10px #000000;
		backdrop-filter: blur(5px);
		transition: 0.2s;
	}
}
@keyframes colorsBtn {
	20% {
		border-color: aqua;
	}
	40% {
		border-color: aquamarine;
	}
	60% {
		border-color: #88ac8f;
	}
}
